@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.mySwiper {
  width: 100%;
  height: 80vh; /* Adjust as needed */
}

.swiper-slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the slide without distortion */
}

.transition-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  pointer-events: none;
}

.tile {
  position: relative;
  transition: all 0.4s ease;
}

.from-top .tile {
  background: rgb(170, 79, 255);
  height: 0%;
  width: 100%;
}

/* Hero Section Text Effect */
.hero-deco {
    color: transparent;
    -webkit-text-stroke: 1px #fff;  
    background: url(/assets/back.webp);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}